<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ConectionString" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=MaxWarehouseActual;Integrated Security=true" />
    <add key="NombreArchivoBase" value="C:\Users\ANTONIO\Documents\Trabajo\Mis Proyectos\PromedioDimensiones\Data\DWShippingInfo.XLSX" />
    <add key="NombreCsv" value="C:\Users\ANTONIO\Documents\Trabajo\Mis Proyectos\PromedioDimensiones\Data\ArchivoProcesar.csv" />
    <add key="BasePath" value="C:\Users\ANTONIO\Documents\Trabajo\Mis Proyectos\PromedioDimensiones\Data"/>
    <add key="CarpetaArchivosSecundarios" value="C:\Users\ANTONIO\Documents\Trabajo\Mis Proyectos\PromedioDimensiones\Data\"/>
    <add key="LogRelativePath" value="logs"/>
    <add key="LogBaseName" value="Log"/>
    <add key="ArchivosSecundarioContien" value="Fedex"/>
    <add key="ArchivoBase" value="ShippingInfo.xlsx"/>
    <add key="ArchivosSecundarioContienUSPS" value="USPS"/>
    <add key="ArchivosSecundarioContienUPS" value="UPS"/>
    <add key="ArchivosSecundarioContienAmazon" value="AMAZON"/>
    <add key="ArchivosSecundarioContienAmazonOriginal" value="CustomTransaction"/>
    <add key="RutaArchivosOutputs" value="C:\Users\ANTONIO\Documents\Trabajo\Mis Proyectos\PromedioDimensiones\Data\Output"/>
    <add key="DireccionFTPDimensiones" value="ftp://sjsc.match2@files.etailsolutions.com/SJSCommercial/Weight and Dimensions" />
  </appSettings>
</configuration>
